In [75]:
import pandas as pd
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense

import numpy as np

In [76]:
weeks = pd.read_csv('data_raw/dados/2016-1/tabela processada nota media mediana iteracao.csv')
weeks.head()

,Unnamed: 0,Nome,Week0,MedianaW0,MediaW0,Week1,MedianaW1,MediaW1,Week2,MedianaW2,...,MedianaW15,MediaW15,Week16,MedianaW16,MediaW16,Week17,MedianaW17,MediaW17,Notas,Aprovado
0,0,Augusto Cesar Damada Sarkissian (16104910),15,15.0,15.000000,5,5.0,5.000000,0,0.0,...,0.0,0.000000,0,0.0,0.0,0,0.0,0.0,0,Reprovado
1,1,Bruna do Nascimento Goulart (16102435),21,10.5,10.500000,16,5.0,5.333333,3,1.5,...,3.0,3.333333,5,2.5,2.5,3,3.0,3.0,5,Reprovado
2,2,Bruno Pereira dos Santos (16102437),3,3.0,3.000000,20,9.0,6.666667,1,1.0,...,0.0,0.000000,2,2.0,2.0,0,0.0,0.0,0,Reprovado
3,3,Diefferson Koderer Môro (16102439),350,9.0,116.666667,1568,297.0,313.600000,1054,284.0,...,87.5,87.500000,1,1.0,1.0,1,1.0,1.0,10,Aprovado
4,4,Emmanuel Eli Placido (16104914),6,6.0,6.000000,11,2.5,2.750000,5,2.5,...,1.0,1.333333,4,2.0,2.0,3,3.0,3.0,5,Reprovado

In [88]:
weeks.loc[weeks['Aprovado'] == 'Aprovado', 'Aprovado'] = '1'
weeks.loc[weeks['Aprovado'] == 'Reprovado', 'Aprovado'] = '0'
weeks.drop(weeks.iloc[:, 0:2], inplace=True, axis=1)

In [89]:
train, validation, test = np.split(weeks.sample(frac=1), [int(.7*len(weeks)), int(.85*len(weeks))])

X_train = train[[train.columns[i] for i in range(train.shape[1]-1) ]]
y_train = train[train.columns[-1]]
X_test = test[[test.columns[i] for i in range(train.shape[1]-1) ]]
y_test = test[test.columns[-1]]
X_val = validation[[validation.columns[i] for i in 
                    range(validation.shape[1]-1) ]]
y_val = validation[validation.columns[-1]]

In [93]:
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(55, 1)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [94]:
model.fit(X_train, y_train, epochs=200, verbose=0)

In [95]:
yhat = model.predict(X_test, verbose=0)
print(yhat)

[[ 0.35224408]
 [-0.00951352]
 [ 0.330977  ]
 [ 0.23820965]
 [ 0.3854926 ]]